<div class="background">
<h1 class="About">
  About Greta
</h1>
I’m a German based artist that puts a lot of passion and sacrifice into developing my own style. Therefore, I perform in a wide range of art styles, from urban graffiti and product design to classic realistic portraits, paintings and tattoo templates.
I put my focus on illustrations, character design and animation, because that is what excites and captivates me the most.

I am currently open for commissions and client work.

This website is still under construction and will grow with me. Thank you for stopping by and viewing my work!

Hope to see you again soon!

Greta.

</div>
