<!-- <div class="tabs">
  <a class="about" (click)="GoToAbout()" routerLink="/About"><img class="about" src="https://gdurl.com/M3rh"></a>
  <a class="portfolio"  routerLink="/Portfolio"><img class="portfolio" src="https://gdurl.com/r24K"></a>
  </div> -->

<!-- <button (click)="GoToAbout()">abc</button> -->

<div class="main">
  <div class="gallery">
      <div class="img">
          <img src="https://gdurl.com/WafYT" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/3LDL" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/O0Lh" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/v7Xt" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/Sch0" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/5DnG" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/kNcL" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/ENLy" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/mj2x" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/vV0m" />
      </div>
      <div class="img">
          <img src="https://gdurl.com/9Fx3" />
      </div>
  </div>
</div>

